/**
 * Global Footer
 */

.global-footer {
  margin-top: 70px;
  padding-top: 5px;
  padding-bottom: 5px;
}

.global-footer__copyright {
  text-align: center;
}

@media (--mq-sp) {
  .global-footer {
    margin-top: 20px;
  }
}
