{
  "env": {
    "browser": true,
    "node": true
  },

  "extends": ["airbnb", "prettier"],

  "plugins": ["prettier"],

  "rules": {
    "react/jsx-filename-extension": 0,
    "no-console": 0,
    "import/no-extraneous-dependencies": ["error", {
      "devDependencies": ["**/*.js"],
      "peerDependencies": false
    }],
    "jsx-a11y/href-no-hash": "off",
    "jsx-a11y/click-events-have-key-events": "off",
    "jsx-a11y/anchor-is-valid": ["warn", { "aspects": ["invalidHref"] }],

    "prettier/prettier": [
      "error",
      {
        "singleQuote": true,
        "trailingComma": "all"
      }
    ]
  }
}
