/**
 * Prorile
 */

.profile {
  margin-top: 100px;
}

.profile__title {
  font-size: var(--fs-xxxxx-large);
  font-weight: normal;
}

.profile__content {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}

.profile-image {
  border-radius: 50%;
  width: 180px;
  height: 180px;
  overflow: hidden;
  margin-right: 20px;
  flex: none;

  & > img {
    width: 100%;
  }
}

.profile-detail {
  text-align: left;
  width: 50%;
}

.profile-detail__name {
  font-size: var(--fs-large);
  line-height: var(--lh-small);
}

.profile-detail__job {
  font-weight: normal;
}

.profile-detail__introduction {
  margin-top: 10px;
}

.profile-detail__social-list {
  list-style: none;
  margin-top: 10px;

  & > li {
    & a:hover {
      opacity: 0.7;
    }
  }
}
