/**
 * Prorile
 */

.profile {
  display: flex;
  justify-content: center;
}

.profile__image {
  border-radius: 50%;
  width: 180px;
  height: 180px;
  overflow: hidden;
  margin-right: 20px;
  flex: none;

  & > img {
    width: 100%;
  }
}

.profile__detail {
  text-align: left;
  width: 50%;
}

.profile-name {
  font-size: var(--fs-large);
  line-height: var(--lh-small);
}

.profile-job {
  font-weight: normal;
}

.profile-introduction {
  margin-top: 10px;
}

.profile-social-list {
  list-style: none;
  margin-top: 10px;

  & > li {
    & a:hover {
      opacity: 0.7;
    }
  }
}

@media (--mq-sp) {
  .profile {
    flex-direction: column;
  }

  .profile__image {
    margin-right: auto;
    margin-left: auto;
  }

  .profile__detail {
    text-align: center;
    margin-top: 10px;
    width: auto;
  }
}
