/**
 * Mian Viaual
 */

.main-visual {
  background-image: url("/images/img-main-visual.jpg");
  background-position: center bottom;
  background-size: cover;
  background-repeat: no-repeat;
  display: flex;
  align-items: center;
  justify-content: center;
}

.main-visual__inner {
  text-align: center;
  color: #fff;
}

.main-visual-title-name {
  font-size: var(--fs-xxxxx-large);
  line-height: var(--lh-xx-small);
}

.main-visual-title-job {
  font-size: var(--fs-x-large);
}

@media (--mq-sp) {
  .main-visual-title-name {
    font-size: var(--fs-xx-large);
  }

  .main-visual-title-job {
    font-size: var(--fs-middle);
  }
}
