/**
 * Mian Viaual
 */

.main-visual {
  position: relative;
  background-image: url("/images/img-main-visual.jpg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  z-index: 0;
  overflow: hidden;
  width: 100%;
  display: table;
}

.main-visual__inner {
  display: table-cell;
  text-align: center;
  vertical-align: middle;
}
