/**
 * Career List
 */

.career-list {
  list-style: none;

  & > li {
    &::before {
      content: '';
      display: inline-block;
      border-top: solid 2px var(--clr-light-glay);
      width: 150px;
      padding-top: 70px;
    }
  }

  & > li + li {
    margin-top: 100px;
  }
}

.career-list__title {
  font-size: var(--fs-xx-large);
  font-weight: normal;
}

.career-list__detail {
  display: flex;
  flex-wrap: wrap;
  margin-top: 20px;
  margin-right: auto;
  margin-left: auto;
  text-align: left;
  width: 260px;

  & > dt {
    width: 90px;

    &::after {
      content: ":";
      margin-right: 5px;
      margin-left: 5px;
    }
  }

  & > dd {
    width: 160px;
  }
}

.career-list__description {
  margin-top: 20px;
}

.career-list__project {
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-left: -20px;

  & > li {
    width: calc(33.3% - 20px);
    margin-top: 20px;
    margin-left: 20px;
  }
}

.career-project:hover {
  opacity: 0.7;
  cursor: pointer;
}

.career-project__title {
  font-size: var(--fs-small);
  font-weight: normal;
}

.career-project__image {
  border: solid 1px var(--clr-light-glay);
  overflow: hidden;
  position: relative;

  &::before {
    content: '';
    display: block;
    padding-top: 75%;
  }
}

.career-project__image-inner {
  position: absolute;
  left: 0;
  top: 0;

  & > img {
    max-width: 100%;
  }
}

@media (--mq-sp) {
  .career-list {
    & > li {
      &::before {
        border-top: solid 2px var(--clr-light-glay);
        width: 80px;
        padding-top: 10px;
      }
    }

    & > li + li {
      margin-top: 20px;
    }
  }

  .career-list__title {
    font-size: var(--fs-x-large);
  }

  .career-list__project {
    margin-left: -10px;

    & > li {
      width: calc(50% - 10px);
      margin-top: 10px;
      margin-left: 10px;
    }
  }

  .career-list__detail {
    width: 80%;

    & > dt {
      width: 35%;
    }

    & > dd {
      width: 65%;
    }
  }

  .career-list__detail,
  .career-list__description {
    margin-top: 10px;
  }
}
