/**
 * Drawer Menu
 */

.drawer-menu {
  background-color: #fff;
  height: 100%;
  width: 200px;
}

.drawer-menu-enter {
  left: 0;
}

.drawer-menu-enter.drawer-menu-enter-active {
  left: 0;
  transition: left 300ms ease-in;
}

.drawer-menu-exit {
  left: 0;
}

.drawer-menu-exit.drawer-menu-exit-active {
  left: -200px;
  transition: left 300ms ease-in;
}
