/**
 * Drawer Menu
 */

.drawer-menu {
  background-color: #fff;
  display: inline-block;
  height: 100%;
  width: 300px;
}

.drawer-menu__title {
  font-size: var(--fs-large);
  margin-top: 15px;
  margin-left: 30px;
}

.drawer-menu__list {
  margin-top: 10px;

  & > li {
    & > a {
      text-decoration: none;
      color: var(--clr-base);
      display: block;
      padding: 10px 30px;

      &:hover {
        background-color: var(--clr-thema);
        color: #fff;
      }
    }
  }
}

.drawer-menu-enter {
  left: 0;
}

.drawer-menu-enter.drawer-menu-enter-active {
  left: 0;
  transition: left 300ms ease-in;
}

.drawer-menu-exit {
  left: 0;
}

.drawer-menu-exit.drawer-menu-exit-active {
  left: -300px;
  transition: left 300ms ease-in;
}

@media (--mq-sp) {
  .drawer-menu {
    width: 200px;
  }

  .drawer-menu__title {
    margin-left: 20px;
  }

  .drawer-menu__list {
    & > li {
      & > a {
        padding-left: 20px;
      }
    }
  }

  .drawer-menu-exit.drawer-menu-exit-active {
    left: -200px;
  }
}
