/**
 * Menu Button
 */

.menu-button {
  cursor: pointer;
  padding: 10px;
  margin-right: -10px;

  & > * + * {
    margin-top: 5px;
  }
}

.menu-button__top,
.menu-button__center,
.menu-button__bottom {
  background-color: #fff;
  width: 30px;
  height: 4px;
}
