/**
 * Layout
 */

.l-main {
  padding-top: 60px;
}

.l-section {
  margin-top: 80px;
  padding-right: 15%;
  padding-left: 15%;
}

.l-section__title {
  text-align: center;
  font-size: var(--fs-xxx-large);
  font-weight: normal;

  & + .l-section__detail {
    margin-top: 20px;
    text-align: center;
  }
}

.l-content {
  margin-top: 80px;
}

.l-content__title {
  font-size: var(--fs-xx-large);
  font-weight: normal;

  & + .l-content__detail {
    margin-top: 20px;
  }
}
