/**
 * Variable
 */

:root {
  /* Font Face */
  --ff-base:
    -apple-system,
    BlinkMacSystemFont,
    "Hiragino Kaku Gothic ProN",
    MyYuGothicM,
    Meiryo,
    sans-serif;

  /*  Font Size */
  --fs-base: 62.5%;
  --fs-x-small: 1rem;
  --fs-small: 1.3rem;
  --fs-middle: 1.6rem;
  --fs-large: 2rem;
  --fs-x-large: 2.6rem;
  --fs-xx-large: 3.6rem;
  --fs-xxx-large: 4.6rem;
  --fs-xxxx-large: 5.6rem;
  --fs-xxxxx-large: 6.6rem;

  /* Line Height */
  --lh-xx-small: 1;
  --lh-x-small: 1.2;
  --lh-small: 1.4;
  --lh-base: 1.6;
  --lh-large: 1.8;

  /* Color */
  --clr-base: #515151;
  --clr-thema: #f39c12;
  --clr-link: #0366d6;
  --clr-light-glay: #ccc;

  /* Media Queries */
  @custom-media --mq-sp (max-width: 639px);
  @custom-media --mq-tb (max-width: 1023px);
  @custom-media --mq-pc (min-width: 1024px);

  /* Duration */
  --drn-fast: 200ms;
  --drn-normal: 400ms;
  --drn-slow: 600ms;
}
