/**
 * Skill Graph
 */

.skill-graph {
  margin-top: 40px;
  margin-right: auto;
  margin-left: auto;
}

.skill-graph__list {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  justify-content: center;
  list-style: none;
  margin-left: -20px;
  margin-top: -20px;

  & > li {
    margin-top: 20px;
    margin-left: 20px;
    position: relative;
  }
}

.skill-graph-value {
  position: absolute;
  top: 50%;
  left: calc(50% - 1em);
}

.fuga {
  & > dd + dt {
    margin-top: 10px;
  }
}
