.modal {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1000;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
}

.modal__inner {
  height: inherit;
  background-color: #fff;
  padding: 60px 15%;
  display: flex;
}

.modal-datail {
  width: 50%;
  text-align: left;
}

.modal-datail__title {
  font-size: var(--fs-x-large);
}

.modal-datail__description {
  margin-top: 20px;
}

.modal-datail__list {
  margin-top: 20px;
  display: flex;
  flex-wrap: wrap;

  & > dt {
    width: 80px;

    &::after {
      content: ':';
    }
  }

  & > dd {
    width: calc(100% - 80px);

    & + dt,
    & + dt + dd {
      margin-top: 3px;
    }
  }
}

.modal-datail__thumbnail-list {
  display: flex;
  list-style: none;
  margin-top: 20px;

  & > li + li {
    margin-left: 10px;
  }

  & img {
    max-width: 100%;
  }
}

.modal-datail-thumbnail {
  cursor: pointer;
  outline: 0;
  padding: 5px;
  width: 80px;
  height: 80px;
  overflow: hidden;
  border: solid 1px var(--clr-light-glay);
}

.modal-datail__link-btn {
  margin-top: 20px;

  & > a {
    text-decoration: none;
    color: #fff;
    display: inline-block;
    background-color: var(--clr-thema);
    padding: 5px 15px;
  }
}

.modal-image {
  width: 50%;
  margin-left: 20px;
  overflow: hidden;
  border-bottom: solid 1px var(--clr-light-glay);
}

.modal-image__inner {
  border: solid 1px var(--clr-light-glay);
  padding: 10px;

  & img {
    max-width: 100%;
  }
}

.modal__close-btn {
  position: absolute;
  cursor: pointer;
  outline: 0;
  top: 20px;
  right: 15%;

  &::before,
  &::after {
    content: "";
    display: block;
    width: 12px;
    height: 2px;
    background-color: var(--clr-base);
    position: absolute;
    top: 50%;
    left: -15px;
  }

  &::before {
    transform: rotate(45deg);
  }

  &::after {
    transform: rotate(-45deg);
  }
}

