.modal {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1000;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  display: none;

  &.is-visible {
    display: table;
  }
}

.modal__inner {
  display: table-cell;
  vertical-align: middle;
  text-align: center;
  background-color: #fff;
}
