/**
 * Hoge
 */

.hoge {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  list-style: none;
  width: 660px;
  margin-right: auto;
  margin-left: auto;

  & > li {
    margin-top: 20px;

    & + li {
      margin-left: 20px;
    }
  }
}
