/**
 * Global Header
 */

.global-header {
  display: flex;
  align-items: center;
  padding: 10px 20px;
  box-sizing: border-box;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 1;
}

.global-header__logo {
  margin-right: auto;
  font-size: var(--fs-x-large);
}
