/**
 * Global Header
 */

.global-header {
  display: flex;
  align-items: center;
  height: 60px;
  padding-right: 50px;
  padding-left: 50px;
  box-sizing: border-box;
  border-bottom: solid 1px var(--clr-light-glay);
  background-color: #fff;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 1;
}

.global-header__logo {
  color: var(--clr-base);
  margin-right: auto;
  font-size: var(--fs-x-large);
}
