/**
 * Section
 */

.section {
  margin-top: 70px;
  padding-right: 15%;
  padding-left: 15%;
}

.section__title {
  text-align: center;
  font-size: var(--fs-xxxxxxx-large);
}

.section__detail {
  margin-top: 15px;
  text-align: center;
}
