/**
 * Section
 */

.section {
  margin-top: 70px;
  padding-right: 10%;
  padding-left: 10%;
}

.section__title {
  text-align: center;
  font-weight: normal;
  font-size: var(--fs-xxxx-large);
}

.section__detail {
  margin-top: 15px;
  text-align: center;
}
