/**
 * About Me
 */

.about-me {
  display: flex;
  justify-content: center;
}

.about-me__image {
  border-radius: 50%;
  width: 150px;
  overflow: hidden;
  margin-right: 20px;

  & > img {
    width: 100%;
  }
}

.about-me__content {
  text-align: left;
}
